<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.weMovies.dto.MemberDTO" alias="MemberDTO"/>
  	<typeAlias type="com.weMovies.dto.MovieDTO" alias="MovieDTO"/>
  	<typeAlias type="com.weMovies.dto.CinemaDTO" alias="CinemaDTO"/>
  	<typeAlias type="com.weMovies.dto.ShowingDTO" alias="ShowingDTO"/>
  	<typeAlias type="com.weMovies.dto.BoardDTO" alias="BoardDTO"/>
  </typeAliases>
  <mappers>
    <mapper resource="mapper/member.xml"/>
    <mapper resource="mapper/insertMember.xml"/>
    <mapper resource="mapper/movie.xml"/>
    <mapper resource="mapper/cinema.xml"/>
    <mapper resource="mapper/showMovie.xml"/>
    <mapper resource="mapper/board.xml"/>
  </mappers>
</configuration>
